.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 80px; /* Height of the navbar */
    height: calc(100vh - 80px);
    background-color: #f0f2f5;
  }
  
  h1 {
    font-size: 4em;
    margin: 0;
    color: #333;
  }
  